.idea
*.iml
.gradle
build
local.properties
fabric.properties
BuglyUploadLog.txt
SyamtabFileUploaderLog.txt

# Eclipse project files
.classpath
.project
.settings

# OSX files
.DS_Store
.DS_Store?

# Windows thumbnail db
ehthumbs.db
Thumbs.db

# OS-specific files
._*
.Spotlight-V100
.Trashes

# Log Files
*.log

#Local File
#local

#react-native
node_modules

#freeline
freeline
freeline*

injector
null
