<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.masonliu.lib_weex.generated">
    <!-- 网络 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 手机信息 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application>
        <activity
            android:name="com.masonliu.lib_weex.ui.WeexPageActivity"
            >
            <intent-filter>
                <action android:name="com.taobao.android.intent.action.WEEX"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.taobao.android.intent.category.WEEX"/>
                <action android:name="android.intent.action.VIEW"/>

                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="file"/>
                <data android:scheme="wxpage" />
            </intent-filter>
        </activity>
    </application>


</manifest>
