<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.masonliu.lib_weex.generated">
    <!-- 友盟 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-sdk tools:overrideLibrary="com.example.fixedfloatwindow"/>
    <application>
        <activity
            android:name="com.masonliu.lib_weex.ui.WeexPageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
    </application>


</manifest>
